<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>notify.me</title>
    
    <link rel="stylesheet" href="css/highlight.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/notify-me.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script src="js/jquery.js"></script>
    <script src="js/notify-me.js"></script>
    <script src="js/highlight.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

    <div id="wrapper">
        <header>
            <div class="container">
                <div id="title" class="clearfix">
                    <span>notify</span>
                    <span>.me</span>
                </div>

                <div id="baseline">
                    a simple and smart javascript notification api.
                </div>
            </div>
        </header>

        <div class="container">

            <div class="page-header">
                <h1>Getting started</h1>
            </div>

            <h3>Donwload the latest release</h3>

            <a href="https://github.com/oltodo/notify.me/archive/v0.2.2.zip">
                https://github.com/oltodo/notify.me/archive/v0.2.2.zip
            </a>

            <h3>Or install via Bower</h3>

            <script>
            code()
                .line('bower install notify.me')
                .write();
            </script>

            <h3>Load the CSS file</h3>

            <script>
            code('html')
                .line('<link rel="stylesheet" href="path/to/notify-me/dist/css/notify-me.min.css">')
                .write();
            </script>

            <h3>Load the JS file</h3>

            <script>
            code('html')
                .line('<'+'script src="path/to/notify-me/dist/notify-me.min.js"><'+'/script>')
                .write();
            </script>



            <div class="page-header">
                <h1>Basic usages</h1>
            </div>

            <p>A simple <code>info</code> notice type with a simple text.</p>

            <script>
            code('javascript')
                .line('$.notify.info(\'A simple info notice\');')
                .test(true)
                .write();
            </script>


            <p>There are four types of notice :
            <code>info</code>, <code>warning</code>, <code>success</code> and <code>error</code>.</p>

            <script>
            ['info','warning','success','error'].forEach(function (e) {

                code('javascript')
                    .line('$.notify.'+e+'(\'I am a '+e+' notice\');')
                    .test(true)
                    .write();
            })
            </script>


            <p>You can give a title to the notice by specifying a second string argument</p>

            <script>
            code('javascript')
                .line('$.notify.info(\'The title\', \'The text\');')
                .test(true)
                .write();
            </script> 

            <p><b>Note :</b> The title argument must always be specified before the text argument</p>


            <div class="page-header">
                <h1>Advanced use</h1>
            </div>

            <p>There is a third argument for more options. This must be an object.</p>

            <p>You do not need to use the string type arguments to set the title and the text.
                You can directly define them in the options argument.</p>

            <script>
            code('javascript')
                .line('$.notify.info({')
                .line('    title:  \'My title\',')
                .line('    text:  \'My text\'')
                .line('});')
                .test(true)
                .write();
            </script>

            <h2>Stacks</h2>

            <p>There are several stacks for notices who fit several positions in the window.
                For specify it, you must use the <code>stack</code> option.</p>

            <p><b>Note :</b> The default stack is <code>top-right</code></p>
            
            <p><b>Top & bottom stacks</b></p>

            <script>
            ['top', 'bottom'].forEach(function (e) {
                document.write('<p>'+e+'</p>');

                code('javascript')
                    .line('$.notify.info(\'I am on the '+e+' stack !\', {')
                    .line('    stack:  \''+e+'\'')
                    .line('});')
                    .test(true)
                    .write();
            });
            </script>

            <p><b>Corner stacks</b></p>

            <script>
            ['top-left', 'top-right', 'bottom-left', 'bottom-right'].forEach(function (e) {
                document.write('<p>'+e+'</p>');

                code('javascript')
                    .line('$.notify.info(\'I am on the '+e+' corner stack !\', {')
                    .line('    stack:  \''+e+'\'')
                    .line('});')
                    .test(true)
                    .write();
            });
            </script>

            <p><b>Center stack</b></p>

            <script>
            code('javascript')
                .line('$.notify.info(\'I am on the center stack !\', {')
                .line('    stack:  \'center\'')
                .line('});')
                .test(true)
                .write();
            </script>

            <h2>Duration</h2>

            <p>Each type has a default display duration.</p>

            <ul>
                <li><b>Info :</b> 5 seconds</li>
                <li><b>Success :</b> 5 seconds</li>
                <li><b>Warning :</b> 10 seconds</li>
                <li><b>Error :</b> infinite</li>
            </ul>

            <p>You can override by setting the option <code>duration</code>, expressed in seconds</p>

            <script>
            code('javascript')
                .line('$.notify.info(\'I am a notice is displayed 20 seconds\', {')
                .line('    duration:  20')
                .line('});')
                .test(true)
                .write();
            </script>   

            <script>
            code('javascript')
                .line('$.notify.info(\'I am a notice is displayed indefinitely\', {')
                .line('    duration:  false')
                .line('});')
                .test(true)
                .write();
            </script>            

            <p><b>Note :</b> When you put your mouse over the notification, it will never disappear automatically.
                However, when you take your mouse, the timer will be restarted.</p>

            <div class="page-header">
                <h1>Bootstrap & FontAwesome compatibility</h1>
            </div>

            <p>You can make notify.me compatible with Bootstrap 2/3 and FontAwesome <=3/4
                by calling the dedicated methods :</p>

            <p><b>For Bootstrap 2 :</b></p>

            <script>
            code('javascript')
                .line('$.notify.useBootstrap2();')
                .write();
            </script>

            <p><b>For Bootstrap 3 :</b></p>

            <script>
            code('javascript')
                .line('$.notify.useBootstrap3();')
                .write();
            </script>

            <p><b>For FontAwesome <= 3 :</b></p>

            <script>
            code('javascript')
                .line('$.notify.useFontAwesome();')
                .write();
            </script>

            <p><b>For FontAwesome 4 :</b></p>

            <script>
            code('javascript')
                .line('$.notify.useFontAwesome4();')
                .write();
            </script>


            <div class="page-header">
                <h1>Options</h1>
            </div>

            <table id="options" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Default</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>stack</th>
                        <td>string</td>
                        <td nowrap>'top-right'</td>
                        <td>Allows you to choose the stack which should see the notice.
                            <br>
                            <br>Currently there 7 stacks :
                                <code>top-left</code>,
                                <code>top</code>,
                                <code>top-right</code>,
                                <code>bottom-left</code>,
                                <code>bottom</code>,
                                <code>bottom-right</code> and
                                <code>center</code>
                        </td>
                    </tr>
                    <tr>
                        <th>duration</th>
                        <td>int<br>boolean</td>
                        <td>used type duration</td>
                        <td>You can specify the display duration by setting this options with a value in second.
                            You can also set it to <code>false</code> to prevent the notice to automatically hide.
                            If you do not set anything, the duration will be the duration of used type.
                            <br>
                            <br>The default type's durations are :

                            <ul>
                                <li><b>Info :</b> 5 seconds</li>
                                <li><b>Success :</b> 5 seconds</li>
                                <li><b>Warning :</b> 10 seconds</li>
                                <li><b>Error :</b> infinite</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>icon</th>
                        <td>string<br>boolean</td>
                        <td>used type icon</td>
                        <td>You can change the icon by setting this option. Icons are defined by the <code>class</code> attribute.
                            <br>If you use
                            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> or
                            <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a>,
                            you can set the icon by using the classes provide by them.
                            <br>If you want use you own icons system, you must declare each class in own stylesheet.
                        </td>
                    </tr>
                    <tr>
                        <th>frozen</th>
                        <td>boolean</td>
                        <td nowrap>false</td>
                        <td>Hide the close button
                            <br>
                            <br><b>Attention :</b> If you set <code>frozen</code> to <code>true</code> and <code>duration</code> to <code>false</code>
                            the notice will stay all the time.
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-app="notifyApp" ng-controller="MakeCtrl">
                <div class="page-header">
                    <h1>Make your notify</h1>
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Type</label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="type">
                                <option value="info">Info</option>
                                <option value="success">Success</option>
                                <option value="warning">Warning</option>
                                <option value="error">Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Text</label>
                        <div class="col-md-10">
                            <textarea class="form-control" ng-model="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Stack</label>

                        <div class="col-md-10">
                            <div id="stacks" class="panel panel-default">
                                <a class="btn btn-default top-left"     ng-class="{ 'btn-primary': stack == 'top-left' }"     ng-click="toggleStack('top-left')"    >top-left</a>
                                <a class="btn btn-default top"          ng-class="{ 'btn-primary': stack == 'top' }"          ng-click="toggleStack('top')"         >top</a>
                                <a class="btn btn-default top-right"    ng-class="{ 'btn-primary': stack == 'top-right' }"    ng-click="toggleStack('top-right')"   >top-right</a>
                                <a class="btn btn-default center"       ng-class="{ 'btn-primary': stack == 'center' }"       ng-click="toggleStack('center')"      >center</a>
                                <a class="btn btn-default bottom-left"  ng-class="{ 'btn-primary': stack == 'bottom-left' }"  ng-click="toggleStack('bottom-left')" >bottom-left</a>
                                <a class="btn btn-default bottom"       ng-class="{ 'btn-primary': stack == 'bottom' }"       ng-click="toggleStack('bottom')"      >bottom</a>
                                <a class="btn btn-default bottom-right" ng-class="{ 'btn-primary': stack == 'bottom-right' }" ng-click="toggleStack('bottom-right')">bottom-right</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Icon</label>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio" value="default" ng-model="icon" />
                                Default
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio" value="nothing" ng-model="icon" />
                                Nothing
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="radio-inline">
                                <input type="radio" value="custom" ng-model="icon" />
                                <span style="display:inline-block">Custom :</span>
                                <input class="form-control input-sm" type="text" ng-model="icon_value" ng-disabled="icon != 'custom'" style="display:inline-block" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Duration</label>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio" value="default" ng-model="duration" />
                                Default
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio" value="infinite" ng-model="duration" />
                                Infinite
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="radio-inline">
                                <input type="radio" value="custom" ng-model="duration" />
                                <span style="display:inline-block">Custom :</span>
                                <input class="form-control input-sm" type="text" ng-model="duration_value" ng-disabled="duration != 'custom'" style="display:inline-block" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Misc</label>
                        <div class="col-md-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="frozen" />
                                Frozen
                            </label>
                        </div>
                    </div>
                </form>

                <div class="page-header">
                    <h3>Result</h3>
                </div>

                <div make></div>
            </div>
        </div>
    </div>
</body>
</html>